<div class="widget navy-bg">
  <div class="row">
    <div class="col-xs-4">
      <i class="fa fa-wrench fa-2x"></i>
    </div>
    <div class="col-xs-8 text-right">
      <form action="" class="form-horizontal">
        <div class="form-group">
          <label class="col-lg-2 control-label" for="">Asset Name</label>
          <div class="col-lg-3">
            <input class="form-control input-sm" type="text">
          </div>
          <label class="col-lg-2 control-label" for="">Model Number</label>
          <div class="col-lg-3">
            <input class="form-control input-sm" type="text">
          </div>
          <div class="col-lg-1">
            <button class="btn btn-warning">
              <i class="fa fa-save"></i>
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>