<div class="middle-box text-center loginscreen animated flipInX">
  <div>
    <div>
      <h1 class="logo-name">
        <a href="/">
          <img src="/app/assets/images/logo.png" />
        </a>
      </h1>
    </div>
    <h3>Welcome to Callisto</h3>
    <p>
      <small>A full commercial of the site will be available early 2019.</small>
    </p>

    <form class="m-t" role="form" (ngSubmit)="onSubmit()" #form="ngForm">
      <dx-form id="form" #dxForm [formData]="model" [readOnly]="false" [showColonAfterLabel]="true" [showValidationSummary]="true"
        validationGroup="formData">
        <dxi-item itemType="group" caption="Log In">
          <dxi-item dataField="Email">
            <dxi-validation-rule type="required" message="Email is required">
            </dxi-validation-rule>
          </dxi-item>
          <dxi-item dataField="Password" [editorOptions]="{ mode: 'password' }">
            <dxi-validation-rule type="required" message="Password is required">
            </dxi-validation-rule>
          </dxi-item>
        </dxi-item>
      </dx-form>

      <app-result-error #error></app-result-error>

      <button [disabled]="!form.form.valid" type="submit" class="btn btn-primary block full-width m-b">Login</button>
      <a [routerLink]="['/account/forgotpass']">
        <small>Forgot password?</small>
      </a>
      <p class="text-muted text-center">
        <small>Do not have an account?</small>
      </p>
      <a [routerLink]="['/account/signup']" class="btn btn-sm btn-white btn-block">Create an account</a>
      <!-- <a class="btn btn-block btn-social btn-facebook">
          <span class="fa fa-facebook"></span> Sign in with Facebook
      </a>
      <a class="btn btn-block btn-social btn-linkedin">
          <span class="fa fa-linkedin"></span> Sign in with LinkedIn
      </a> -->
      <a class="btn btn-block btn-social btn-google" (click)="onGoogleLogin()">
          <span class="fa fa-google"></span> Sign in with Google
      </a>
    </form>
    <p class="m-t">
      <small>Proudly developed and maintained by ESA Developments &copy; 2018</small>
    </p>
  </div>
</div>