<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-10">
    <h2> <i class="fa fa-database"></i> {{model.Name}}</h2>
    <ol class="breadcrumb">
      <li>
        <a [routerLink]="['/']">home</a>
      </li>
      <li>
        <a [routerLink]="['/asset']">assets</a>
      </li>
      <li class="active">
        <strong>edit</strong>
      </li>
    </ol>
  </div>
  <div class="col-lg-2">
    <div class="btn-header-group">
      <button class="btn btn-outline btn-default dim" type="button" (click)="location.back()" tooltip="Back.">
        <i class="fa fa-chevron-left"></i>
      </button>
      <button class="btn btn-outline btn-primary dim" type="button" (click)="onSubmit()" [disabled]="!form.form.valid" tooltip="Save current asset.">
        <i class="fa fa-save"></i>
      </button>
    </div>
  </div>
</div>


<div class="row">
  <div class="col-lg-12">
    <div class="wrapper wrapper-content animated fadeInUp">
      <form class="m-t form-horizontal" role="form" (ngSubmit)="onSubmit()" #form="ngForm">

        <div class="panel panel-default">
          <div class="panel-heading">
            <h4>
             {{model.AssetNumber}} - {{model.Name}}
            </h4>
          </div>
          <div class="panel-body">
            <div class="form-group">
              <label class="col-sm-2 control-label">Asset #</label>
              <div class="col-sm-10">
                <input type="text" class="form-control input-sm" placeholder="eg. ABC123" required name="assetNumber" #assetNumber="ngModel" [(ngModel)]="model.AssetNumber">
                <small [hidden]="assetNumber.valid || (assetNumber.pristine && !form.submitted)" class="text-danger">
                  <i class="fa fa-warning"></i>
                  Asset # is required.
                </small>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label">Name</label>
              <div class="col-sm-10">
                <input type="text" class="form-control input-sm" placeholder="eg. Truck" required name="name" #name="ngModel" [(ngModel)]="model.Name">
                <small [hidden]="name.valid || (name.pristine && !form.submitted)" class="text-danger">
                  <i class="fa fa-warning"></i>
                  Name is required.
                </small>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label">Description</label>
              <div class="col-sm-10">
                <input type="text" class="form-control input-sm" placeholder="eg. My construction truck" name="description" #description="ngModel" [(ngModel)]="model.Description">
              </div>
            </div>
          </div>
          <div class="panel-footer text-right">
            <button class="btn btn-outline btn-primary dim" type="button" [disabled]="!form.form.valid" (click)="onSubmit()" tooltip="Save current asset.">
              <i class="fa fa-save"></i>
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
