<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-10">
    <h2>
      <i class="fa fa-address-card-o"></i> {{model.Name}}</h2>
    <ol class="breadcrumb">
      <li>
        <a [routerLink]="['/']">home</a>
      </li>
      <li>
        <a [routerLink]="['/asset']">assets</a>
      </li>
      <li class="active">
        <strong>edit</strong>
      </li>
    </ol>
  </div>
  <div class="col-lg-2">
    <div class="btn-header-group">
      <button class="btn btn-outline btn-default dim" type="button" (click)="_location.back()" tooltip="Back.">
        <i class="fa fa-angle-double-left"></i>
      </button>
      <button class="btn btn-outline btn-primary dim" type="button" [disabled]="!form.form.valid" (click)="onSubmit()" tooltip="Save current asset.">
        <i class="fa fa-save"></i>
      </button>
    </div>
  </div>
</div>
<div class="wrapper wrapper-content animated fadeInUp">
  <form class="m-t form-horizontal" role="form" (ngSubmit)="onSubmit()" #form="ngForm">
    <div class="panel panel-default">
      <div class="panel-heading">
        {{model.Name}}
      </div>
      <div class="panel-body">
        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-4 text-center">
            <img class="picture" [src]="model.PictureUrl" *ngIf="!!model.PictureUrl">
            <img class="picture" src="app/assets/images/no-image.jpg" *ngIf="!model.PictureUrl">
          </div>
          <div class=" col-sm-4">
            <div ng2FileDrop [ngClass]="{'nv-file-over': hasBaseDropZoneOver}" (fileOver)="fileOverBase($event)" [uploader]="uploader"
              class="well my-drop-zone">
              Upload new display picture
            </div>
          </div>
        </div>
        <dx-form id="form" #dxForm [formData]="model" [readOnly]="false" [showColonAfterLabel]="true" [showValidationSummary]="true"
          validationGroup="formData">
          <dxi-item itemType="group" caption="Basic Details">
            <dxi-item dataField="Name" [editorOptions]="{ placeholder : 'eg. Truck' }">
              <dxi-validation-rule type="required" message="Name is required">
              </dxi-validation-rule>
            </dxi-item>
            <dxi-item dataField="Description" [editorOptions]="{ placeholder : 'eg. This is my favourite toy' }">
            </dxi-item>
            <dxi-item dataField="AssetNumber" [editorOptions]="{ placeholder : 'eg. 001' }">
              <dxo-label text="Asset #"></dxo-label>
            </dxi-item>
            <dxi-item>
              <dxo-label text="Parent"></dxo-label>
              <dx-drop-down-box 
              placeholder="Assign parent asset..." 
              [(value)]="model.ParentId" 
              [showClearButton]="true" 
              displayExpr="Name" 
              valueExpr="Id" 
              [dataSource]="parentTree"
              (onValueChanged)="syncTreeViewSelection($event)">
                <div *dxTemplate="let data of 'content'">
                  <dx-tree-view 
                  [dataSource]="parentTree" 
                  dataStructure="plain" 
                  keyExpr="Id" 
                  parentIdExpr="ParentId" 
                  selectionMode="single"
                  displayExpr="Name" 
                  [selectByClick]="true"
                  (onContentReady)="$event.component.selectItem(model.ParentId)"
                  (onItemSelectionChanged)="treeView_itemSelectionChanged($event)">
                  </dx-tree-view>
                </div>
              </dx-drop-down-box>
            </dxi-item>
          </dxi-item>
          <dxi-item itemType="group" caption="Location Information">
            <dxi-item dataField="Location?.FormattedAddress">
              <dxo-label text="Address"></dxo-label>
              <div class="dx-field-item-content dx-field-item-content-location-right">
                <div class="dx-textbox dx-texteditor dx-widget dx-texteditor-empty">
                  <div class="dx-texteditor-container">
                    <input type="text" class="dx-texteditor-input" placeholder="eg. 123 Cherry Lane" #searchInput autocorrect="off" autocapitalize="off"
                      spellcheck="false" [value]="model.Location?.FormattedAddress">
                    <div class="dx-texteditor-buttons-container">
                      <button type="button" class="btn btn-xs" (click)="showMap()" [ngClass]="mapVisible ? 'btn-default': 'btn-primary'">
                        <i class="fa fa-map"></i>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </dxi-item>
            <dxi-item>
              <div class="col-sm-offset-1 col-sm-10">
                <div class="form-group" [hidden]="!mapVisible">
                  <app-location [searchInput]="searchInput" #location></app-location>
                </div>
              </div>
            </dxi-item>
          </dxi-item>
        </dx-form>
      </div>
      <div class="panel-footer text-right">
        <button class="btn btn-outline btn-default dim" type="button" (click)="_location.back()">
          <i class="fa fa-angle-double-left"></i>
        </button>
        <button class="btn btn-outline btn-danger dim" type="button" (click)="removeAsset()">
          <i class="fa fa-trash"></i>
        </button>
        <button class="btn btn-outline btn-primary dim" type="submit" [disabled]="!form.form.valid">
          <i class="fa fa-save"></i>
        </button>
      </div>
    </div>
  </form>
</div>