/* Only demo */
@media (max-width: 1000px) {
  .welcome-message {
    display: none;
  }
}

.logo_mini {
  width: 50px;
}


.logo-name img {
  width: 200px;
}

.alertify {
  top: 75px;
}

.alertify-message {
  font-size: 1.2em;
}

#toasty.toasty-position-top-right {
  top: 20px;
  right: 20px;
}

#toasty .toast.toasty-theme-bootstrap {
  font-size: 1em;
}

#toasty .toast.toasty-theme-bootstrap .toast-text .toast-title {
  font-size: 1.04em;
}
