<div class="panel panel-default">
  <div class="panel-body">
    <div class="row">
      <div class="col-sm-7">

        <div class="row">
          <div class="col-sm-4">
            <label>Name</label>
          </div>
          <div class="col-sm-8">
            <label class="control-label">
              {{currentAsset?.Name}}</label>
          </div>
        </div>
        <div class="row" *ngIf="currentAsset?.Description"> 
          <div class="col-sm-4">
            <label>Description</label>
          </div>
          <div class="col-sm-8">
            <label class="control-label">
              {{currentAsset?.Description}}</label>
          </div>
        </div>
        <div class="row" *ngIf="currentAsset?.AssetNumber">
          <div class="col-sm-4">
            <label>#</label>
          </div>
          <div class="col-sm-4">
            <label class="control-label">
              {{currentAsset?.AssetNumber}}
            </label>
          </div>
        </div>
      </div>
      <div class="col-sm-5">
        <div class="row">
          <div class="col-sm-12">
            <button class="btn btn-sm btn-outline btn-default dim pull-right" type="button" tooltip="Details." (click)="onDetails()">
              <i class="fa fa-angle-double-right"></i>
            </button>
          </div>
        </div>
       
      </div>
    </div>
    <div class="row" [hidden]="!currentAsset?.PictureUrl">
      <div class="col-sm-12 text-center">
          <img class="picture" [src]="currentAsset?.PictureUrl" *ngIf="!!currentAsset?.PictureUrl">
      </div>
    </div>
  </div>
</div>
<div class="panel panel-default" [hidden]="!currentAsset?.HasLocation">
  <div class="panel-body">
    <app-location #location></app-location>
  </div>
</div>

