<form action="" class="form-horizontal">
    <div class="form-group">
        <label for="" class="col-lg-2 control-label">Asset Name</label>
        <div class="col-lg-10">
          <input type="text" class="form-control input-sm">
        </div>
      </div>
    <div class="form-group">
        <label for="" class="col-lg-2 control-label">Model Number</label>
        <div class="col-lg-10">
          <input type="text" class="form-control input-sm">
        </div>
      </div>
  <div class="form-group">
    <label for="" class="col-lg-2 control-label">Asset Code</label>
    <div class="col-lg-10">
      <app-select2 [LookupData]="" [PlaceHolder]="'Select asset code'"></app-select2>
    </div>
  </div>
  <div class="form-group">
    <label for="" class="col-lg-2 control-label">Asset Type</label>
    <div class="col-lg-10">
      <app-select2 [LookupData]="" [PlaceHolder]="'Select asset type'"></app-select2>
    </div>
  </div>
  <div class="form-group">
    <label for="" class="col-lg-2 control-label">Manufacturer</label>
    <div class="col-lg-10">
      <app-select2 [LookupData]="" [PlaceHolder]="'Select manufacturer'"></app-select2>
    </div>
  </div>

  <div class="form-group">
    <label for="" class="col-lg-2 control-label">Department</label>
    <div class="col-lg-10">
      <app-select2 [LookupData]="" [PlaceHolder]="'Select department'"></app-select2>
    </div>
  </div>
  <div class="form-group">
    <label for="" class="col-lg-2 control-label">Customer</label>
    <div class="col-lg-10">
      <app-select2 [LookupData]="" [PlaceHolder]="'Select customer'"></app-select2>
    </div>
  </div>
  <div class="form-group">
    <label for="" class="col-lg-2 control-label">Contractor</label>
    <div class="col-lg-10">
      <app-select2 [LookupData]="" [PlaceHolder]="'Select contractor'"></app-select2>
    </div>
  </div>
  <div class="form-group">
    <label for="" class="col-lg-2 control-label">Reading Type</label>
    <div class="col-lg-10">
      <app-select2 [LookupData]="" [PlaceHolder]="'Select reading type'"></app-select2>
    </div>
  </div>
  <div class="form-group">
    <label for="" class="col-lg-2 control-label">Asset Status</label>
    <div class="col-lg-10">
      <app-select2 [LookupData]="" [PlaceHolder]="'Select asset status'"></app-select2>
    </div>
  </div>
  <button type="submit" class="btn btn-primary btn-sm pull-right">
      <i class="fa fa-save"></i> Save
  </button>
</form>