<spinner [debounceDelay]="400"></spinner>

<!-- Wrapper-->
<div id="wrapper" [class.white-bg]="!profileLoaded">

  <!-- Navigation -->
  <app-left-menu style="float:left;" *ngIf="profileLoaded" [user]="user"></app-left-menu>

  <!-- Page wraper -->
  <div id="page-wrapper" [class.gray-bg]="profileLoaded">

    <!-- Top Navbar -->
    <app-top-menu *ngIf="profileLoaded"></app-top-menu>

    <!-- Main view  -->

    <router-outlet *ngIf="completedLoad"></router-outlet>

    <!-- Footer -->
    <div class="footer" *ngIf="profileLoaded">
      <div class="pull-right">
      </div>
      <div>
        <strong>Copyright</strong> ESA Developments &copy; 2018-2019
      </div>
    </div>
  </div>
  <!-- End page wrapper-->
  <!-- Right Sidebar -->

</div>
