/* Only demo */
@media (max-width: 1000px) {
  .welcome-message {
    display: none;
  }
}

.logo_mini {
  width: 50px;
}

.logo-name img {
  width: 200px;
}

.btn-header-group {
  float:right;
  padding: 25px 0px 0px 0px;
}
h2 i.fa {
  padding: 0px 10px 0px 0px;
}

.value-container {
  cursor: pointer !important;
}

.dx-texteditor-buttons-container .btn-xs
{
  margin: 1px;
}

.btn-default {
  color: #000 !important;
}

.pad5
{
  margin: 5px;
}