
@{
    Layout = "_LayoutDefault";
}

<div class="middle-box text-center animated fadeInDown">
    <h1>Login Failed</h1>
    <h3 class="font-bold">Account locked out</h3>

    <div class="error-desc">
        Sorry, but your account has been locked out. Please contact support for further investigation.
    </div>
</div>