<div class="row">
  <div class="col-md-8">
    <div class="panel panel-primary">
      <div class="panel-heading">
        Miscellaneous
      </div>
      <div class="panel-body">
        <form action="" class="form-horizontal">
          <div class="form-group">
            <label for="" class="col-lg-2 control-label">Serial Number</label>
            <div class="col-lg-10">
              <input type="text" class="form-control input-sm">
            </div>
          </div>
          <div class="form-group">
            <label for="" class="col-lg-2 control-label">Barcode Number</label>
            <div class="col-lg-10">
              <input type="text" class="form-control input-sm">
            </div>
          </div>
          <div class="form-group">
            <label for="" class="col-lg-2 control-label">Financial Asset Number</label>
            <div class="col-lg-10">
              <input type="text" class="form-control input-sm">
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="panel panel-primary">
      <div class="panel-heading">
        Dimensions
      </div>
      <div class="panel-body">
        <form action="" class="form-horizontal">
          <div class="form-group">
            <label for="" class="col-lg-2 control-label">Height</label>
            <div class="col-lg-10">
              <input type="text" class="form-control input-sm">
            </div>
          </div>
          <div class="form-group">
            <label for="" class="col-lg-2 control-label">Width</label>
            <div class="col-lg-10">
              <input type="text" class="form-control input-sm">
            </div>
          </div>
          <div class="form-group">
            <label for="" class="col-lg-2 control-label">Depth</label>
            <div class="col-lg-10">
              <input type="text" class="form-control input-sm">
            </div>
          </div>
          <div class="form-group">
            <label for="" class="col-lg-2 control-label">Weight</label>
            <div class="col-lg-10">
              <input type="text" class="form-control input-sm">
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="panel panel-primary">
      <div class="panel-heading">
        Address
      </div>
      <div class="panel-body">
        <form action="" class="form-horizontal">
          <div class="form-group">
            <label for="" class="col-lg-2 control-label">Address Line 1</label>
            <div class="col-lg-10">
              <input type="text" class="form-control input-sm">
            </div>
          </div>
          <div class="form-group">
            <label for="" class="col-lg-2 control-label">Address Line 2</label>
            <div class="col-lg-10">
              <input type="text" class="form-control input-sm">
            </div>
          </div>
          <div class="form-group">
            <label for="" class="col-lg-2 control-label">City</label>
            <div class="col-lg-10">
              <input type="text" class="form-control input-sm">
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="panel panel-primary">
      <div class="panel-heading">
        Criticality
      </div>
      <div class="panel-body">
        <div class="form-group">
          <div class="col-sm-10">
            <app-icheck [Key]="'option1'" [Value]="'Safety'"></app-icheck>
            <app-icheck [Key]="'option2'" [Value]="'Environmental'"></app-icheck>
            <app-icheck [Key]="'option3'" [Value]="'Compliance'"></app-icheck>
            <app-icheck [Key]="'option4'" [Value]="'Quality'"></app-icheck>
            <app-icheck [Key]="'option5'" [Value]="'Operational'"></app-icheck>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>