<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-sm-10">
    <h2>
      <i class="fa fa-database"></i> Assets
    </h2>
    <ol class="breadcrumb">
      <li>
        <a [routerLink]="['/']">home</a>
      </li>
      <li>
        <a>assets</a>
      </li>

    </ol>
  </div>
  <div class="col-sm-2">
    <div class="btn-header-group">
      <button class="btn btn-outline btn-primary dim" type="button" (click)="createAsset()" tooltip="Create a new asset.">
        <i class="fa fa-plus-circle"></i>
      </button>
      <button class="btn btn-outline btn-success dim" type="button" tooltip="Bulk upload assets.">
        <i class="fa fa-upload"></i>
      </button>
      <button class="btn btn-outline btn-success dim" type="button" tooltip="Download assets to file.">
        <i class="fa fa-download"></i>
      </button>
    </div>
  </div>
</div>

<div class="row">
  <div [class.col-md-8]="selectedId" [class.col-md-12]="!selectedId">
    <div class="wrapper wrapper-content animated fadeInUp">
      <div class="panel panel-default">
        <div class="panel-heading">
            <i class="fa fa-database"></i> Assets
        </div>
        <div class="panel-body">

         <dx-tree-list 
            id="assetTree"
            keyExpr="Id"
            parentIdExpr="ParentId"
            [dataSource]="assetData"
            [showRowLines]="true"
            [columnAutoWidth]="true"
            [expandedRowKeys]="[1]"
            hasItemsExpr="Children"
            (onSelection)="handleSelected($event)"
            (onRowClick)="handleSelected($event)"
            rootValue="">

            <dxo-search-panel [visible]="true" width="250"></dxo-search-panel>
            <dxo-header-filter [visible]="true"></dxo-header-filter>
            <dxo-selection mode="single"></dxo-selection>
            <dxo-column-chooser [enabled]="true"></dxo-column-chooser>
            <dxo-state-storing [enabled]="true" type="localStorage" storageKey="treeListStorage"></dxo-state-storing>
            

            <dxi-column dataField="Name" caption="Name" sortOrder="asc"></dxi-column>
            <dxi-column dataField="Description" caption="Description" sortOrder="asc"></dxi-column>
            <dxi-column dataField="Children" [visible]="false"></dxi-column>
            <dxi-column dataField="Id" cellTemplate="controlTemplate" 
              caption="" 
              [allowFiltering]="false" 
              [allowSorting]="false" 
              [allowSearch]="false">
            </dxi-column>
            <div *dxTemplate="let options of 'controlTemplate'">
                <a class="btn btn-xs btn-primary" (click)="handleView(options)">
                  <i class="fa fa-pencil"></i>
                </a>
                <a class="btn btn-xs btn-success" (click)="handleAdd(options)">
                    <i class="fa fa-plus"></i>
                  </a>
                  <a class="btn btn-xs btn-danger" (click)="handleRemove(options)">
                      <i class="fa fa-trash"></i>
                    </a>
            </div>
        </dx-tree-list>
        </div>
        <div class="panel-footer text-right">
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-4" [hidden]="!selectedId">
    <div class="wrapper wrapper-content">
      <app-view-summary [id]="selectedId"></app-view-summary>
    </div>
  </div>
</div>
