<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-sm-10">
    <h2>
      <i class="fa fa-database"></i> Assets
    </h2>
    <ol class="breadcrumb">
      <li>
        <a [routerLink]="['/']">home</a>
      </li>
      <li>
        <a>assets</a>
      </li>

    </ol>
  </div>
  <div class="col-sm-2">
    <div class="btn-header-group">
      <button class="btn btn-outline btn-primary dim" type="button" (click)="createAsset()" tooltip="Create a new asset.">
        <i class="fa fa-plus-circle"></i>
      </button>
      <button class="btn btn-outline btn-success dim" type="button" tooltip="Bulk upload assets.">
        <i class="fa fa-upload"></i>
      </button>
      <button class="btn btn-outline btn-success dim" type="button" tooltip="Download assets to file.">
        <i class="fa fa-download"></i>
      </button>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-5">
    <div class="wrapper wrapper-content animated fadeInUp">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4>
            <i class="fa fa-database"></i> Assets
          </h4>
        </div>
        <div class="panel-body">
          <tree [tree]="tree" #treeComponent [settings]="{ rootIsVisible: false }"
                (menuItemSelected)="onMenuItemSelected($event)"
                (loadNextLevel)="handleNextLevel($event)"
                (nodeSelected)="handleSelected($event)"
                (nodeMoved)="handleMoved($event)"></tree>

        </div>
        <div class="panel-footer text-right">
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-7">
    <div class="wrapper wrapper-content animated fadeInUp">
      <form class="m-t form-horizontal" role="form" (ngSubmit)="onSubmit()" #form="ngForm" *ngIf="currentAsset">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4>
              {{currentAsset.AssetNumber}} - {{currentAsset.Name}}
            </h4>
          </div>
          <div class="panel-body">
            <div class="form-group">
              <label class="col-sm-2 control-label">Asset #</label>
              <div class="col-sm-10">
                <input type="text" class="form-control input-sm" placeholder="eg. ABC123" required name="assetNumber" #assetNumber="ngModel" [(ngModel)]="currentAsset.AssetNumber">
                <small [hidden]="assetNumber.valid || (assetNumber.pristine && !form.submitted)" class="text-danger">
                  <i class="fa fa-warning"></i>
                  Asset # is required.
                </small>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label">Name</label>
              <div class="col-sm-10">
                <input type="text" class="form-control input-sm" placeholder="eg. Truck" required name="name" #name="ngModel" [(ngModel)]="currentAsset.Name">
                <small [hidden]="name.valid || (name.pristine && !form.submitted)" class="text-danger">
                  <i class="fa fa-warning"></i>
                  Name is required.
                </small>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label">Description</label>
              <div class="col-sm-10">
                <input type="text" class="form-control input-sm" placeholder="eg. My construction truck" name="description" #description="ngModel" [(ngModel)]="currentAsset.Description">
              </div>
            </div>

          </div>
          <div class="panel-footer text-right">
            <button class="btn btn-outline btn-primary dim" type="button" [disabled]="!form.form.valid" (click)="onSubmit()" tooltip="Save current asset.">
              <i class="fa fa-save"></i>
            </button>
            <button class="btn btn-outline btn-default dim" type="button" tooltip="Details." (click)="onDetails()">
              <i class="fa fa-angle-double-right"></i>
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
