<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-10">
    <h2>
      <i class="fa fa-address-card-o"></i> {{model.Name}}</h2>
    <ol class="breadcrumb">
      <li>
        <a [routerLink]="['/']">home</a>
      </li>
      <li>
        <a [routerLink]="['/asset']">assets</a>
      </li>
      <li class="active">
        <strong>edit</strong>
      </li>
    </ol>
  </div>
  <div class="col-lg-2">
    <div class="btn-header-group">
      <button class="btn btn-outline btn-default dim" type="button" (click)="_location.back()" tooltip="Back.">
        <i class="fa fa-angle-double-left"></i>
      </button>
      <button class="btn btn-outline btn-info dim" type="button"  tooltip="Watch.">
          <i class="fa fa-eye"></i>
        </button>
      <button class="btn btn-outline btn-primary dim" type="button" [disabled]="!form.form.valid" (click)="onSubmit()" tooltip="Save current asset.">
        <i class="fa fa-save"></i>
      </button>
    </div>
  </div>
</div>
<div class="wrapper wrapper-content animated fadeInUp">
  <form class="m-t form-horizontal" role="form" (ngSubmit)="onSubmit()" #form="ngForm">
    <div class="panel panel-default">
      <div class="panel-heading">
        {{model.Name}}
      </div>
      <div class="panel-body">
        <div class="row">
            <div class="col-sm-1">
                <span class="alert alert-info" tooltip="Outstanding Work Orders.">0</span> 
            </div>
            <div class="col-sm-8">
              <app-track-gauges [assetId]="id"></app-track-gauges>
           </div>
           <div class="col-sm-3">
              <div class="form-group">
                  <div class="col-sm-offset-2 col-sm-4 text-center">
                    <img class="picture" [src]="model.PictureUrl" *ngIf="!!model.PictureUrl">
                    <img class="picture" src="/app/assets/images/no-image.jpg" *ngIf="!model.PictureUrl">
                  </div>
                  <div class=" col-sm-4">
                    <div ng2FileDrop [ngClass]="{'nv-file-over': hasBaseDropZoneOver}" (fileOver)="fileOverBase($event)" [uploader]="uploader"
                      class="well my-drop-zone">
                      Upload new display picture
                    </div>
                  </div>
                </div>
            </div>
        </div>

        <dx-form id="form" #dxForm 
        [formData]="model" 
        [readOnly]="false" 
        [showColonAfterLabel]="true" 
        [showValidationSummary]="true"
        validationGroup="formData"
        [colCount]="3">
          <dxi-item itemType="group"caption="Asset Details">
            <dxi-item dataField="AssetNumber" [editorOptions]="{ placeholder : 'eg. 001' }">
               <dxo-label text="Asset #"></dxo-label>
            </dxi-item>
            <dxi-item dataField="Name" [editorOptions]="{ placeholder : 'eg. Truck' }">
              <dxi-validation-rule type="required" message="Name is required">
              </dxi-validation-rule>
            </dxi-item>
            <dxi-item dataField="Description" [editorOptions]="{ placeholder : 'eg. This is my favourite toy' }">
            </dxi-item>
            <dxi-item dataField="AssetNumber">
                <dxo-label text="Model #"></dxo-label>
            </dxi-item>
            <dxi-item dataField="AssetNumber" editorType="dxSelectBox" [editorOptions]="{ 
              dataSource: manager,
              displayExpr: 'Name',
              valueExpr: 'Key'
             }">
              <dxo-label text="Reading Type"></dxo-label>
            </dxi-item>  
            <dxi-item dataField="AssetNumber" editorType="dxSelectBox" [editorOptions]="{ 
              dataSource: manager,
              displayExpr: 'Name',
              valueExpr: 'Key'
             }">
              <dxo-label text="Status"></dxo-label>
            </dxi-item>
            <dxi-item>
                <dxo-label text="Parent"></dxo-label>
                <dx-drop-down-box 
                placeholder="Assign parent asset..." 
                [(value)]="model.ParentId" 
                [showClearButton]="true" 
                displayExpr="Name" 
                valueExpr="Id" 
                [dataSource]="parentTree"
                (onValueChanged)="syncTreeViewSelection($event)">
                  <div *dxTemplate="let data of 'content'">
                    <dx-tree-view 
                    [dataSource]="parentTree" 
                    dataStructure="plain" 
                    keyExpr="Id" 
                    parentIdExpr="ParentId" 
                    selectionMode="single"
                    displayExpr="Name" 
                    [selectByClick]="true"
                    (onContentReady)="$event.component.selectItem(model.ParentId)"
                    (onItemSelectionChanged)="treeView_itemSelectionChanged($event)">
                    </dx-tree-view>
                  </div>
                </dx-drop-down-box>
            </dxi-item>
            <dxi-item dataField="Criticality" editorType="dxRadioGroup" [editorOptions]="{ layout : 'horizontal', 
            items : 
              [
              'Low', 
              'Normal', 
              'Urgent', 
              'High'
              ]}">
                <dxo-label text="Criticality"></dxo-label>
             </dxi-item>
            <dxi-item dataField="AssetNumber" editorType="dxCheckBox">
               <dxo-label text="Active"></dxo-label>
            </dxi-item>
          </dxi-item>
          <dxi-item itemType="group"caption="Extended Details">
              <dxi-item dataField="SerialNumber">
                  <dxo-label text="Serial #"></dxo-label>
              </dxi-item>
              <dxi-item dataField="BarcodeNumer">
                  <dxo-label text="Barcode #"></dxo-label>
              </dxi-item>
              <dxi-item dataField="FinAssetNumber">
                  <dxo-label text="Finance Asset #"></dxo-label>
              </dxi-item>
              <dxi-item dataField="AssetNumber" editorType="dxLookup" [editorOptions]="{ 
                dataSource: manager,
                displayExpr: 'Name',
                valueExpr: 'Key'
               }">
                <dxo-label text="Manufacturer"></dxo-label>
              </dxi-item>  
              <dxi-item dataField="AssetNumber" editorType="dxLookup" [editorOptions]="{ 
                dataSource: manager,
                displayExpr: 'Name',
                valueExpr: 'Key'
               }">
                <dxo-label text="Department"></dxo-label>
              </dxi-item>  
              <dxi-item dataField="AssetNumber" editorType="dxLookup" [editorOptions]="{ 
                dataSource: manager,
                displayExpr: 'Name',
                valueExpr: 'Key'
               }">
                <dxo-label text="Customer"></dxo-label>
              </dxi-item>  
              <dxi-item dataField="AssetNumber" editorType="dxLookup" [editorOptions]="{ 
                dataSource: manager,
                displayExpr: 'Name',
                valueExpr: 'Key'
               }">
                <dxo-label text="Contractor"></dxo-label>
              </dxi-item>  
    
          </dxi-item>
          <dxi-item itemType="group"caption="Dimensions">
              <dxi-item dataField="Height"  editorType="dxNumberBox">
                  <dxo-label text="Height"></dxo-label>
              </dxi-item>
              <dxi-item dataField="Width"  editorType="dxNumberBox">
                  <dxo-label text="Width"></dxo-label>
              </dxi-item>
              <dxi-item dataField="Depth"  editorType="dxNumberBox">
                  <dxo-label text="Depth"></dxo-label>
              </dxi-item>
              <dxi-item dataField="Weight"  editorType="dxNumberBox">
                  <dxo-label text="Weight"></dxo-label>
              </dxi-item>
          </dxi-item>      
        </dx-form>
        <hr />
        <tabset>
            <tab (select)="onTabChange('work')" [active]="true">
                <ng-template tabHeading>
                    <i class="fa fa-exclamation-circle"></i> Work Orders
                </ng-template>
              <app-list-workorder #workOrders [assetId]="id" [assetName]="model.Name" [active]="true"></app-list-workorder>
            </tab>
            <tab (select)="onTabChange('schedule')">
                <ng-template tabHeading>
                    <i class="fa fa-clock-o"></i> Scheduled Maintance
                </ng-template>
              <app-list-main-schedule #scheduleMain [assetId]="id" [assetName]="model.Name"></app-list-main-schedule>
            </tab>
          <tab (select)="onTabChange('finance')" >
              <ng-template tabHeading>
                  <i class="fa fa-calculator"></i> Financial
              </ng-template>
             <app-finance #finance [assetId]="id" [assetName]="model.Name"></app-finance>
          </tab>
          <tab>
              <ng-template tabHeading>
                  <i class="fa fa-folder-open"></i> Documentation
              </ng-template>
            <app-list-documents [entityType]="'asset'" [entityId]="id"></app-list-documents>
          </tab>
          <tab>
              <ng-template tabHeading>
                  <i class="fa fa-sticky-note"></i> Notes
              </ng-template>
              <app-list-notes [entityType]="'asset'" [entityId]="id"></app-list-notes>
          </tab>
          <tab>
              <ng-template tabHeading>
                  <i class="fa fa-map"></i> Location
              </ng-template>
                
              <dx-form id="form" #dxFormLocation 
              [formData]="model" 
              [readOnly]="false" 
              [showColonAfterLabel]="true" 
              [showValidationSummary]="true"
              validationGroup="formData"
              >
              <dxi-item itemType="group" caption="Location Information">
                  <dxi-item dataField="Location?.FormattedAddress">
                    <dxo-label text="Address"></dxo-label>
                    <div class="dx-field-item-content dx-field-item-content-location-right">
                      <div class="dx-textbox dx-texteditor dx-widget dx-texteditor-empty">
                        <div class="dx-texteditor-container">
                          <input type="text" class="dx-texteditor-input" placeholder="eg. 123 Cherry Lane" #searchInput autocorrect="off" autocapitalize="off"
                            spellcheck="false" [value]="model.Location?.FormattedAddress">
                          <div class="dx-texteditor-buttons-container">
                            <button type="button" class="btn btn-xs" (click)="showMap()" [ngClass]="mapVisible ? 'btn-default': 'btn-primary'">
                              <i class="fa fa-map"></i>
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </dxi-item>
                  <dxi-item>
                    <div class="col-sm-offset-1 col-sm-10">
                      <div class="form-group" [hidden]="!mapVisible">
                        <app-location [searchInput]="searchInput" #location></app-location>
                      </div>
                    </div>
                  </dxi-item>
                </dxi-item>
            </dx-form>
          </tab>
          <tab (select)="onTabChange('inspection')">
              <ng-template tabHeading>
                  <i class="fa fa-certificate"></i> Inspection
              </ng-template>
            <app-inspection #inspection [assetId]="id" [assetName]="model.Name"></app-inspection>
          </tab>
          <tab>
              <ng-template tabHeading>
                  <i class="fa fa-history"></i> Audit
              </ng-template>
              <dx-data-grid id="gridContainer"
              [dataSource]="model"  
              [remoteOperations]="true"
              [wordWrapEnabled]="true"
              [showBorders]="true">

              <dxo-scrolling mode="virtual" rowRenderingMode="virtual" ></dxo-scrolling>
              <dxo-paging [pageSize]="100"></dxo-paging>
              <dxo-header-filter [visible]="true" [allowSearch]="true"></dxo-header-filter>

              <dxi-column dataField="UserName" caption="User Name" width="150"></dxi-column>
              <dxi-column dataField="Action" caption="Action" width="150"></dxi-column>
              <dxi-column dataField="DateKey" caption="Date" dataType="date" format="yyyy-MM-dd" width="100"></dxi-column>
            <dxo-header-filter [groupInterval]="1000"></dxo-header-filter>
          </dx-data-grid>
          </tab>
        </tabset>
      </div>
      <div class="panel-footer text-right">
        <button class="btn btn-outline btn-default dim" type="button" (click)="_location.back()">
          <i class="fa fa-angle-double-left"></i>
        </button>
        <button class="btn btn-outline btn-danger dim" type="button" (click)="removeAsset()">
          <i class="fa fa-trash"></i>
        </button>
        <button class="btn btn-outline btn-primary dim" type="submit" [disabled]="!form.form.valid">
          <i class="fa fa-save"></i>
        </button>
      </div>
    </div>
  </form>
</div>
