<div class="row">
  <div class="col-md-5">
    <div class="panel panel-primary">
      <div class="panel-heading">
        Assets
      </div>
      <div class="panel-body">

        <tree [tree]="tree" #treeComponent [settings]="{rootIsVisible: false}" (menuItemSelected)="onMenuItemSelected($event)"></tree>

      </div>
    </div>
  </div>
  <div class="col-md-7">
    <div class="panel panel-primary">
      <div class="panel-heading">
        Demo Asset
      </div>
      <div class="panel-body">
        <app-asset-details></app-asset-details>
      </div>
      <div class="panel-footer">

      </div>
    </div>
  </div>
</div>