<div class="row">
  <div class="col-md-5">
    <div class="panel panel-primary">
      <div class="panel-heading">
        Assets
      </div>
      <div class="panel-body">

        <tree [tree]="tree" #treeComponent
        [settings]="{rootIsVisible: false}"
        (menuItemSelected)="onMenuItemSelected($event)"></tree>
 
        <div class="dd" nestablelist>
          <ol class="dd-list" *ngFor="let asset of Assets" asset-list-item [ListItem]="asset"></ol>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-7">
    <div class="panel panel-primary">
      <div class="panel-heading">
        Demo Asset
      </div>
      <div class="panel-body">

      </div>
      <div class="panel-footer">

      </div>
    </div>
  </div>
</div>