$primary-brand: #179d82;
$text-outside: #179d82;
$text-inside: #fff;
$transition-in: all 250ms ease-out;
$transition-out: all 250ms ease-in;

.container {
    width: 100%;
    height: 600px;
}

@media (min-width: 1200px) 
{
    .container #buffer {
        padding: 0px 0px 100px 0px;
    }
 }

#learn-more {
    fill-opacity: 0;
    fill: #fff;
    stroke: #fff;
    stroke-width: 2;
    border-radius: 5px;
    stroke-linejoin: round;
    transition: $transition-out;
    cursor: pointer;

    &:hover {
        fill-opacity: 1;

        & ~ .learn-more-text {
            fill: $primary-brand;
        }
    }
}

.learn-more-text {
    font-family: 'Roboto';
    fill: #fff;
    pointer-events: none;
    font-size: 14px;
    transition: $transition-out;
}

.center {
    fill: $primary-brand;
}

.pointer {
    fill: #fff;
    stroke: #3b8fc0;
    stroke-width: 2;
}

.nav-copy {
    font-family: 'Roboto';
    fill: #fff;
    fill-opacity: 1;
    transition: $transition-out;

    &.changing {
        fill-opacity: 0;
    }
}

.service {
    cursor: pointer;

    text {
        font-size: 14px;
        font-family: 'Roboto';
        text-anchor: middle;
    }

    .icon-wrapper {
        transform-origin: 50% 50%;

        &, & > * {
            transition: $transition-out;
        }
    }

    circle {
        fill: $primary-brand;

        &.disabled {
            fill: #000000;
        }

        &.shadow {
            fill-opacity: 0;
            filter: url(#service-shadow);
        }
    }

    use {
        fill: #fff;
    }

    text {
        fill: $text-outside;
    }

    &.active, &:hover {
        .icon-wrapper {
            transform: scale(1.15) translateY(-5px);

            &, & > * {
                transition: $transition-in;
            }

            circle {
                &.shadow {
                    fill-opacity: 0.4;
                }
            }
        }

        text {
            fill: $primary-brand;
            font-weight: bold;
        }
    }
}
.cls-1 {
    font-size: 28px;
    font-family: Roboto-Bold, Roboto;
    font-weight: 700;
}

.cls-2 {
    letter-spacing: -0.02em;
}

.cls-3 {
    letter-spacing: -0.01em;
}

.cls-4 {
    letter-spacing: -0.01em;
}

.cls-5 {
    font-size: 16px;
    font-family: Roboto-Regular, Roboto;
}

.cls-6 {
    letter-spacing: -0.01em;
}

.cls-7 {
    letter-spacing: -0.01em;
}

.cls-8 {
    letter-spacing: -0.02em;
}

.cls-9 {
    letter-spacing: -0.01em;
}

.cls-10 {
    letter-spacing: 0.01em;
}

.cls-11 {
    letter-spacing: -0.01em;
}

.cls-12 {
    letter-spacing: -0.04em;
}

.cls-13 {
    letter-spacing: -0.02em;
}

.cls-14 {
    letter-spacing: 0.01em;
}

.cls-15 {
    letter-spacing: -0.01em;
}

.cls-16 {
    letter-spacing: -0.06em;
}

.cls-17 {
    letter-spacing: -0.02em;
}

.cls-18 {
    letter-spacing: 0.01em;
}

.cls-19 {
    letter-spacing: 0.02em;
}

.cls-20 {
    letter-spacing: -0.01em;
}

.cls-21 {
    letter-spacing: -0.03em;
}

.service.disabled circle, .service.disabled text {
    fill: #808080 !important
}