<form class="form-horizontal"  role="form" (ngSubmit)="onSubmit()" #form="ngForm">
  <div class="modal-header">
    <h4 class="modal-title pull-left">
    <i class="fa fa-database"></i>
    Create Asset</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">

    <div class="well well-sm" *ngIf="parentId">
      <span>{{parentName}}</span>
    </div>
    <dx-form 
    id="form" 
    #dxForm 
    [formData]="model" 
    [readOnly]="false" 
    [showColonAfterLabel]="true" 
    [showValidationSummary]="true"
      validationGroup="formData">
      <dxi-item itemType="group" caption="Basic Details">
        <dxi-item dataField="Name" [editorOptions]="{ placeholder : 'eg. Truck' }">
          <dxi-validation-rule type="required" message="Name is required">
          </dxi-validation-rule>
        </dxi-item>
        <dxi-item dataField="Description" [editorOptions]="{ placeholder : 'eg. This is my favourite toy' }">
        </dxi-item>
        <dxi-item dataField="AssetNumber" [editorOptions]="{ placeholder : 'eg. 001' }">
          <dxo-label text="Asset #"></dxo-label>
        </dxi-item>
      </dxi-item>
    </dx-form>  
    
  </div>
  <div class="modal-footer">
    <button class="btn btn-default  dim " type="button" (click)="onCancel()">
      <i class="fa fa-close"></i>
    </button>
    <button class="btn btn-primary dim" type="submit" [disabled]="!form.form.valid" tooltip="Create a new asset.">
      <i class="fa fa-save"></i>
    </button>
  </div>
</form>
