<div class="middle-box text-center loginscreen  animated fadeInDown">
  <div>
    <div>
      <h1 class="logo-name">
        <a href="/">
          <img src="/app/assets/images/logo.png" />
        </a>
      </h1>
    </div>
    <h3>Register to Callisto</h3>
    <p>
      <small>A full commercial of the site will be available early 2019.</small>
    </p>
    <form class="m-t" role="form" #form="ngForm" (ngSubmit)="onSubmit()" [hidden]="!!isRregistered">

      <dx-form id="form" #dxForm [formData]="model" [readOnly]="false" [showColonAfterLabel]="true" [showValidationSummary]="true"
        validationGroup="formData">
        <dxi-item itemType="group" caption="Register new account">
          <dxi-item dataField="FirstName" [editorOptions]="{ placeholder : 'eg. John' }">
            <dxo-label text="Name"></dxo-label>
            <dxi-validation-rule type="required" message="Name is required">
            </dxi-validation-rule>
          </dxi-item>
          <dxi-item dataField="LastName" [editorOptions]="{ placeholder : 'eg. Doe' }">
            <dxo-label text="Last name"></dxo-label>
            <dxi-validation-rule type="required" message="Lastname is required">
            </dxi-validation-rule>
          </dxi-item>
          <dxi-item dataField="CompanyName" [editorOptions]="{ placeholder : 'eg. Callisto Toys' }">
            <dxo-label text="Company"></dxo-label>
            <dxi-validation-rule type="required" message="Company name is required">
            </dxi-validation-rule>
          </dxi-item>
          <dxi-item dataField="Email" [editorOptions]="{ placeholder : 'eg. johndoe@callisto.com' }">
            <dxo-label text="Email"></dxo-label>
            <dxi-validation-rule type="required" message="Email name is required">
            </dxi-validation-rule>
            <dxi-validation-rule type="email" message="Must be a valid email address">
              </dxi-validation-rule>
          </dxi-item>
          <dxi-item dataField="Password" [editorOptions]="{ mode: 'password' }">
            <dxi-validation-rule type="required" message="Password is required">
            </dxi-validation-rule>
            <dxi-validation-rule  type="stringLength" [min]="6" message="Password must be atleast 6 characters long"></dxi-validation-rule>
          </dxi-item>
          <dxi-item dataField="ConfirmPassword" [editorOptions]="{ mode: 'password' }">
            <dxo-label text="Confirm Password"></dxo-label>
            <dxi-validation-rule type="required" message="Confirm Password is required"></dxi-validation-rule>
            <dxi-validation-rule type="compare" [comparisonTarget]="passwordComparison" message="Password and Confirm Password do not match">
            </dxi-validation-rule>
          </dxi-item>
        </dxi-item>
      </dx-form>

      <app-result-error #error></app-result-error>

      <button [disabled]="!form.form.valid" type="submit" class="btn btn-primary block full-width m-b">Register</button>

      <p class="text-muted text-center">
        <small>Already have an account?</small>
      </p>
      <a class="btn btn-sm btn-white btn-block" [routerLink]="['/account/login']">Login</a>
    </form>

    <div [hidden]="!isRregistered">
      <alert type="success">
        <p>
          <i class="fa fa-check"></i> Success...!
        </p>
        <p>
          Welcome to callisto, please proceed to login.
        </p>

        <a class="btn btn-sm btn-white btn-block" [routerLink]="['/account/login']">Login</a>

      </alert>
    </div>

    <p class="m-t">
      <small>Proudly developed and maintained by ESA Developments &copy; 2018</small>
    </p>
  </div>
</div>
