@using Callisto.Worker.Service
@model Dictionary<string, string>
@{
    Layout = "_Layout";
    var options = ViewBag.Options as TemplateOptions;
}

<tr>
    <td class="content-block">
        <h3>Reset Account</h3>
    </td>
</tr>
<tr>
    <td class="content-block">
        Please follow the link below in order to reset your account...
    </td>
</tr>
<tr>
    <td class="content-block aligncenter">
        <a href="@options.LoginUrl?token=@Model.FirstOrDefault(c => c.Key == "~token~")" class="btn-primary">Reset Account</a>
    </td>
</tr>